head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  title RACE AGAINST THE CITI
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="Race against the citi")
  meta(name="description", content="Race against the citi")

  // Favicon
  //- link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  //- meta(property='fb:app_id', content='APP_ID')
  //- meta(property='og:title', content='#{appName} - #{title}')
  //- meta(property='og:description', content='Fuiszmedia')
  //- meta(property='og:type', content='website')
  //- meta(property='og:url', content='APP_URL')
  //- meta(property='og:image', content='APP_LOGO')
  //- meta(property='og:site_name', content='Fuiszmedia')
  //- meta(property='fb:admins', content='APP_ADMIN')

  //- Bootstrap core CSS
  link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
  //- Fonts from Font Awsome
  link(rel='stylesheet', href='/lib/font-awesome.min.css')
  //- CSS Animate
  link(rel='stylesheet', href='/lib/css/animate.css')
  //- Fonts
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
  //- Feature detection
  script(src='/lib/js/modernizr-2.6.2.min.js')
  //- link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/css/main.css')
  script(type='text/javascript', src='/lib/jquery/jquery.min.js')
  script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')
  script(type='text/javascript', src='/lib/moment/moment.min.js')

  //- HTML5 shim and res`.js IE8 support of HTML5 elements and media queries
  //[if lt IE 9]
  script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')
  script(src='/lib/js/respond.min.js')
  //[endif]

  block head
